<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BlueM.Wave.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    
    <userSettings>
        <BlueM.Wave.My.MySettings>
            <setting name="showOverviewOnStartup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="defaultFontSize" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="defaultLineWidth" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="loggingLevel" serializeAs="String">
                <value>info</value>
            </setting>
            <setting name="MRUFiles" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" />
                </value>
            </setting>
            <setting name="isNewVersion" serializeAs="String">
                <value>True</value>
            </setting>
        </BlueM.Wave.My.MySettings>
    </userSettings>
</configuration>